{% extends '::base.html.twig' %}

{% block contentTitle %}消费用户列表{% endblock %}

{% block main %}

    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">
            <h3>用户列表</h3>
            <!-- <div style="padding-top: 6px">
                <a rel="dialog" class="btn info" href="{{ path('magzine_new') }}">添加杂志</a>
            </div> -->
            <!-- href must be unique and match the id of target div -->
            <!--<ul class="content-box-tabs">
                <li><a href="#tab1" class="default-tab">Table</a></li>
                <li><a href="#tab2">Forms</a></li>
            </ul>-->
            <div class="clear"></div>
        </div> <!-- End .content-box-header -->
                
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead><tr>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr></thead>
             
                <tfoot><tr>
                    <td colspan="6">
                        <!--<div class="bulk-actions align-left">
                            <select name="dropdown" class="small">
                                <option value="option1">选择...</option>
                                <option value="option3">删除</option>
                            </select>
                            <a class="button" href="#">执行</a>
                        </div>-->
                        
                        {% if pager.haveToPaginate() %}{{ pagerfanta(pager, 'magend') }}{% endif %}
                        <div class="clear"></div>
                    </td>
                </tr></tfoot>
             
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date('Y-m-d H:i') }}</td>
                        <td style="width:50px;">
                            {% if user.hasRole('ROLE_ADMIN') %}
                                <img style="width:16px;" src="{{ asset('images/personal.png') }}" />
                            {%  else %}
                            {# {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}<a rel="dialog" href="{{ path('consumer_edit', {'id':user.id}) }}" title="编辑"><img src="{{ asset('images/simpla/icons/pencil.png') }}" alt="编辑" /></a>{% endif %} #}
                            {% if is_granted('ROLE_ADMIN') %}<a rel="confirm" href="{{ path('consumer_del', { 'id':user.id }) }}" title="删除"><img src="{{ asset('images/simpla/icons/cross.png') }}" alt="删除" /></a>{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
                    
{% endblock %}