{% extends '::base.html.twig' %}

{% block contentTitle %}
    <a href="{{ path('magzine_issues', { 'id':issue.magzine.id }) }}">{{ issue.magzine.name }}</a>
    <span style="color:#AAA"> / </span>
    {{ issue.title }}
{% endblock %}

{%block main %}
    <ul class="shortcut-buttons-set">
        <li><a class="shortcut-button" href="{{ path('article_new', { 'id':issue.id }) }}"><span>添加文章</span></a></li>
    </ul>
    <div class="clear"></div>

    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">
            <h3>文章列表</h3>
            <div style="padding-top: 6px; width: 300px; float: left;">
                <a id="layout_save" class="btn info" href="{{ path('issue_layout', { 'id':issue.id }) }}" data-loading-text="保存中...">保存修改</a>
                {# insert copyright if there is copyright article in the issue #}
                <a id="insert_copyright" class="btn primary {% if issue.magzine.copyrightArticle is null %}disabled{% endif %}" href="{% if issue.magzine.copyrightArticle is null %}#{% else %}{{ path('insert_copyright', { 'id':issue.id }) }}{% endif %}" title="{% if issue.magzine.copyrightArticle is null %}请先设置所属杂志默认版权页{% else %}插入杂志默认版权页{% endif %}">插入版权页</a>
                <!-- <button id="layout_cancel" class="btn danger">放弃修改</button> -->
            </div>
            
            <!-- href must be unique and match the id of target div -->
            <ul class="content-box-tabs">
                <li><a href="#articles_layout" class="default-tab">页面排版</a></li>
                <li><a href="#articles_list">文章列表</a></li>
            </ul>
            <div class="clear"></div>
        </div> <!-- End .content-box-header -->
                
        <div class="content-box-content">
            {% set layoutLength = issue.articles|length*150 + 150 %}
            <div id="topslider" style="height:20px; margin-bottom:10px; overflow-x: auto;"><div style="width:{{ layoutLength }}px; height: 18px;"></div></div>
            <div id="articles_layout" class="tab-content default-tab" style="min-height: 280px; overflow-x: auto;">
                <ol class="articles unselectable" style="width:{{ layoutLength }}px">
                    {% for article in issue.articles %}
                        <li class="article" rel="{{ article.id }}" style="padding-top: 10px;">
                            <h5><span class="article-index">{{ loop.index }}</span>.<a title="{{ article.title }}" href="{{ path('article_edit', { 'id':article.id }) }}">{{ article.title|truncate(7) }}</a></h5>
                            <ol class="pages">
                                {% for page in article.pages %}
                                    <li class="page" rel="{{ page.id }}"><a class="dblclick" href="{{ path('page_edit', { 'id':page.id }) }}" title="双击编辑热点；拖动图片到此可替换缩略图"><img src="{% if page.landscapeImgThumbnail is not null %}{{ asset('uploads/' ~ page.landscapeImgThumbnail) }}{% else %}{{ ('uploads/' ~ page.landscapeImg)|apply_filter('landscapeThumb') }}{% endif %}" /></a></li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            
            <div id="articles_list" class="tab-content" style="display: none;"> <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead><tr>
                    <th><input class="check-all" type="checkbox" /></th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>页数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr></thead>
                
                <tfoot><tr>
                    <td colspan="6">
                        <!--<div class="bulk-actions align-left">
                            <select name="dropdown" class="small">
                                <option value="option1">选择...</option>
                                <option value="option3">删除</option>
                            </select>
                            <a class="button" href="#">执行</a>
                        </div>-->
                        
                        <div class="clear"></div>
                    </td>
                </tr></tfoot>
                
                <tbody>
                    {% for article in issue.articles %}
                    <tr id="tr{{ article.id }}">
                        <td><input type="checkbox" /></td>
                        <td><a href="{{ path('article_edit', { 'id': article.id }) }}">{{ article.title|truncate(10) }}</a></td>
                        <td>{{ article.type|transIn('article') }}</td>
                        <td>{{ article.pageIds|length }}</td>
                        <td>{{ article.createdAt|date('Y-m-d H:i') }}</td>
                        <td style="width:90px;">
                            <a rel="confirm" class="copyright {% if article.isCopyright %}copyright_on{% else %}copyright_off{% endif %}" title="{% if article.isCopyright %}取消作为版权页{% else %}设置为版权页{% endif %}" href="{{ path('article_copyright', { 'id':article.id }) }}?on={% if article.isCopyright %}0{% else %}1{% endif %}">©</a>
                            <a href="{{ path('article_edit', { 'id':article.id }) }}" title="编辑"><img src="{{ asset('images/simpla/icons/pencil.png') }}" alt="编辑" /></a>
                            <a rel="confirm" href="{{ path('article_del', { 'id':article.id }) }}" title="删除"><img src="{{ asset('images/simpla/icons/cross.png') }}" alt="删除" /></a>
                            {% if issue.magzine.copyrightArticle is not null and issue.magzine.copyrightArticle.id == article.id %}<a rel="confirm" href="{{ path('remove_copyright', {'id':issue.id}) }}" title="移除版权页（文章不会被删除）">移除</a>{% endif %} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            
        </div>
    </div><!-- End Content Box -->
    
{% endblock %}
