{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">期刊列表</li>
{% endblock %}

{% block main %}
<table class="zebra-striped">
    <thead>
        <tr>
            <th>类型</th>
            <th>期刊号</th>
            <th>标题</th>
            <th>封面</th>
            <th>下载次数</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
        <tr>
            <td>0</td>
            <td>{{ issue.serial }}</td>
            <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title|truncate(10) }}</a></td>
            <td class="thumbup"><a class="media" href="#"><img width="120" height="160" src="{{ asset('uploads/' ~ issue.cover) }}" /></a></td>
            <td>{{ issue.nbDownloaded }}</td>
            <td>{% if issue.createdAt %}{{ issue.createdAt|date('Y-m-d H:i') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('issue_show', { 'id': issue.id }) }}">查看</a>
                    </li>
                    <li>
                        <a href="{{ path('issue_edit', { 'id': issue.id }) }}">编辑</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if pager.haveToPaginate() %}{{ pagerfanta(pager, 'magend') }}{% endif %}

<div class="well">
    <a class="primary btn" href="{{ path('issue_new') }}">创建</a>
</div>
{% endblock %}