{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block title %}创建新期刊{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}
    
    <div class="alert-message block-message info">
        <a href="#" class="close">×</a>
        <strong>提示：</strong>
        <p>期刊号一般为1101, 11A, 10B，将会决定期刊呈现在客户端的顺序</p>
    </div>
    
    <form id="issue_form" action="{% if issue.id is null %}{{ path('issue_new') }}{% else %}{{ path('issue_edit', { 'id':issue.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>
        <div class="clearfix">
            {{ form_label(form.title, '杂志选择') }}
            <div class="input"><select id="magsel" class="medium" name="magzineId">
                {% for magzine in magzines %}
                <option value="{{ magzine.id }}" {% if issue.magzine is not null and issue.magzine.id == magzine.id %}selected="selected"{% endif %}>{{ magzine.name }}</option>
                {% endfor %}            
            </select></div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.yearIssueNo, '年期数') }}
            <div class="input">{{ form_errors(form.yearIssueNo) }}{{ form_widget(form.yearIssueNo, { 'attr':{'class':'small'}, 'id':'yearIssueNo' }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.totalIssueNo, '总期数') }}
            <div class="input">{{ form_errors(form.totalIssueNo) }}{{ form_widget(form.totalIssueNo, { 'attr':{'class':'small'}, 'id':'totalIssueNo' }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.title, '标题') }}
            <div class="input">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.publishedAt, '出版日期') }}
            <div class="input">{{ form_errors(form.publishedAt) }}{{ form_widget(form.publishedAt, { 'attr':{'class':'small'}, 'id':'publishedAt' }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.priceLevel, '价格') }}
            <div class="input">{{ form_errors(form.priceLevel) }}{{ form_widget(form.priceLevel, { 'attr':{'class':'small'} }) }}</div>
        </div>
        
        {{ form_rest(form) }}
        
        <div class="actions">
            <button class="btn primary" type="submit" data-loading-text="提交中...">提交</button>
            <a style="display:none;" id="issue_next" class="btn" href="{% if issue.id is not null %}{{ url('issue_editor', { 'id':issue.id }) }}{% else %}#{% endif %}">创建编排文章</a>
        </div>
    </form>
    
    {% if issue.id is empty %}
    <div class="alert-message block-message error">
        <a href="#" class="close">×</a>
        <strong>提示：</strong><p>请先提交基本信息</p>
    </div>
    {% endif %}
    
    <div>拖拽图片上传封面</div>
    <p/>
    <div id="landscape-cover" rel="landscapeCover" style="float: left; background-color: #CCC; border: 1px solid #777; width: 160px; height: 120px;">
        <a title="横版封面" href="{% if issue.landscapeCover is not null %}{{ asset('uploads/' ~ issue.landscapeCover) }}{% else %}#{% endif %}" rel="colorbox"><img width="160" height="120" src="{% if issue.landscapeCover is not null %}{{ asset('uploads/' ~ issue.landscapeCover) }}{% endif %}" /></a>
    </div>
    <div id="portrait-cover" rel="portraitCover" style="float: left; margin-left: 20px; background-color: #CCC; border: 1px solid #777; width: 120px; height: 160px;">
        <a title="竖版封面" href="{% if issue.portraitCover is not null %}{{ asset('uploads/' ~ issue.portraitCover) }}{% else %}#{% endif %}" rel="colorbox"><img width="120" height="160" src="{% if issue.portraitCover is not null %}{{ asset('uploads/' ~ issue.portraitCover) }}{% endif %}" /></a>
    </div>
    
    <p style="clear:both;"></p>
    
    <p>预览图</p>
    <div id="preview" rel="preview" style="background-color: #CCC; border: 1px solid #777; width: 120px; height: 160px;">
        <a title="预览图" href="{% if issue.preview is not null %}{{ asset('uploads/' ~ issue.preview) }}{% else %}#{% endif %}" rel="colorbox"><img width="120" height="160" src="{% if issue.preview is not null %}{{ asset('uploads/' ~ issue.preview) }}{% endif %}" /></a>
    </div> 
    
    <p></p>
    
    <div id="attachAudio">
        拖拽音频文件到这里
    </div>
    <p/>
    音频文件：<a id="attachedAudio" rel="{% if issue.id %}{{ issue.id }}{% else %}#{% endif %}" target="_blank" href="{% if issue.audio %}{{ asset('uploads/' ~ issue.audio) }}{% else %}#{% endif %}">{{ issue.audioName|default('尚未上传') }}</a>

{% endblock %}