{% extends '::base.html.twig' %}

{% block title %}创建新期刊{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if issue.id is not null %}
       <li><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title|truncate(10) }}</a> <span class="divider">/</span></li>
       <li class="active">编辑</li>
    {% else %}
       <li class="active">创建新期刊</li>
    {% endif %}
{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}

<div class="alert-message block-message info">
    <a href="#" class="close">×</a>
    <strong>提示：</strong>
    <p>期刊号一般为1101, 11A, 10B，将会决定期刊呈现在客户端的顺序</p>
</div>

<form id="issue_form" action="{% if issue.id is null %}{{ path('issue_new') }}{% else %}{{ path('issue_edit', { 'id':issue.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>
    <div class="clearfix">
        {{ form_label(form.serial, '期刊号') }}
        <div class="input">{{ form_errors(form.serial) }}{{ form_widget(form.serial, { 'attr':{'class':'small'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.title, '标题') }}
        <div class="input">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr':{'class':'span6'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.priceLevel, '价格') }}
        <div class="input">{{ form_errors(form.priceLevel) }}{{ form_widget(form.priceLevel, { 'attr':{'class':'small'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.coverImage, '封面') }}
        <div class="input">
            <a href="#" title="拖拽图片到这里上传" id="issue_cover">
                <img width="120" height="160" src="{% if issue.cover is not null %}{{ asset('uploads/' ~ issue.cover) }}{% endif %}" />
            </a>
            <div id="cover_input" style="display:none;">{{ form_errors(form.coverImage) }}{{ form_widget(form.coverImage, { 'attr':{'class':'small'} }) }}</div>
        </div>
    </div>
    
    {{ form_rest(form) }}
    
    <div class="actions">
        <button class="btn primary" type="submit" data-loading-text="提交中...">提交</button>
        <a style="display:none;" id="issue_next" class="btn" href="{% if issue.id is not null %}{{ url('issue_editor', { 'id':issue.id }) }}{% else %}#{% endif %}">创建编排文章</a>
    </div>
</form>
{% endblock %}