{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block title %}创建新期刊{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}
    <form id="issue_form" action="{% if issue.id is null %}{{ path('issue_new') }}{% else %}{{ path('issue_edit', { 'id':issue.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>
        
        <div class="clearfix">
            {{ form_label(form.title, '标题') }}
            <div class="input">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.landscapeCoverFile, '横屏封面') }}
            <div class="input">{{ form_errors(form.landscapeCoverFile) }}{{ form_widget(form.landscapeCoverFile, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.portraitCoverFile, '竖屏封面') }}
            <div class="input">{{ form_errors(form.portraitCoverFile) }}{{ form_widget(form.portraitCoverFile, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.posterFile, '宣传图片') }}
            <div class="input">{{ form_errors(form.posterFile) }}{{ form_widget(form.posterFile, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.audioFile, '背景音乐') }}
            <div class="input">{{ form_errors(form.audioFile) }}{{ form_widget(form.audioFile, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        <div class="clearfix">
            {{ form_label(form.videoFile, '开篇视频') }}
            <div class="input">{{ form_errors(form.videoFile) }}{{ form_widget(form.videoFile, { 'attr':{'class':'span6'} }) }}</div>
        </div>
        
        {{ form_rest(form) }}
        
        <div class="actions">
            <button class="btn btn-primary" type="submit" data-loading-text="提交中...">提交</button>
            <a style="display:none;" id="issue_next" class="btn" href="{% if issue.id is not null %}{{ url('issue_editor', { 'id':issue.id }) }}{% else %}#{% endif %}">创建编排文章</a>
        </div>
    </form>
{% endblock %}