{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a title="期刊列表" href="{{ url('issue_list') }}">期刊列表</a> <span class="divider">/</span></li>
    <li class="active">{{ issue.title|truncate(10) }}</li>
{% endblock %}

{%block main %}
    <table class="bordered-table zebra-striped">
        <tbody>
            <tr>
                <th width="80">类型</th>
                <td>0</td>
            </tr>
            <tr>
                <th>期刊号</th>
                <td>{{ issue.serial }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ issue.title }}</td>
            </tr>
            <tr>
                <th>封面</th>
                <td class="thumbup"><a class="media" href="#"><img width="120" height="160" src="{{ asset('uploads/' ~ issue.cover) }}" /></a></td>
            </tr>
            <tr>
                <th>下载次数</th>
                <td>{{ issue.nbDownloaded }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ issue.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>文章 {{ issue.articles|length }}</th>
                <td><div class="show_articles">
                    <ol class="articles" style="width:{{ (issue.articles|length)*160 }}px">
                        {% for article in issue.articles %}
                        <li class="article">
                            <a class="thumbup" href="{{ url('article_show', { 'id':article.id }) }}"><img src="{{ asset(('uploads/' ~ article.thumbnail) | apply_filter('landscapeThumb')) }}" /></a>
                            <span class="footer">{{ article.nbPages }}</span>
                        </li>
                        {% endfor %}
                    </ol>
                </div></td>
            </tr>
        </tbody>
    </table>
    
    <div class="well">
        <a class="btn" href="{{ path('issue_list') }}">返回列表</a>
        <a class="primary btn" href="{{ path('issue_edit', { 'id': issue.id }) }}">编辑文本信息</a>
        <a class="primary btn" href="{{ path('article_new', { 'id': issue.id }) }}">添加文章</a>
        <a class="danger btn" style="float:right;" href="{# path('issue_delete', { 'id': issue.id }) #}">删除</a>
    </div>

{% endblock %}
