<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Magend!{% endblock %}</title>
        
        {% block stylesheets %}
        	<link href="{{ asset('css/Aristo.css') }}" rel="stylesheet" type="text/css" />       
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/facebox.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/colorbox.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/simpla/reset.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/simpla/style.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/simpla/invalid.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/jquery.contextMenu.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/chosen.css') }}" type="text/css" media="screen" />
            <link href="{{ asset('css/main.css') }}?v=0.3" rel="stylesheet" type="text/css" />  
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
        <div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
            
            <h1 id="sidebar-title"><a href="#">iMagShow</a></h1>
            <!-- Logo (221px wide) -->
            <!-- <a href="#"><img id="logo" src="resources/images/logo.png" alt="Simpla Admin logo" /></a>-->
          
            <!-- Sidebar Profile links -->
            <div id="profile-links">
                欢迎回来, {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<a href="#" title="编辑个人信息">{{ app.user.username }}</a>{% else %}<a href="#" title="关于游客">Guest</a>{% endif %}
                <br />
                <a href="#" title="View the Site">{{ "now"|date("Y年m月d日") }}</a> | <a href="{{ path('fos_user_security_logout') }}" title="登出">退出</a>
            </div>
            {% set currentRoute = app.request.get('_route') %}
            <ul id="main-nav">
                <li><a href="{{ path('home') }}" class="nav-top-item no-submenu {% if currentRoute == 'home' %}current{% endif %}">首页</a></li>
                
                <li><a href="#" class="nav-top-item {% if currentRoute in ['magazine_list'] %}current{% endif %}">杂志组</a>
                    <ul>
                        <li><a {% if currentRoute == 'magazine_list' %}class="current"{% endif %} href="{{ path('magazine_list') }}">杂志列表</a></li>
                    </ul>
                </li>
                
                {% set magRoutes = ['magazine_issues', 'issue_list', 'issue_article_list', 'issue_new', 'issue_edit', 'article_list', 'article_new', 'article_edit', 'page_edit', 'magazine_classify'] %}
                {% if currentRoute in magRoutes %}
                    {% if magazine is defined %}
                    {% set onMag = magazine %}
                    {% elseif issue is defined %}
                    {% set onMag = issue.magazine %}
                    {% elseif article is defined %}
                    {% set onMag = article.issue.magazine %}
                    {% elseif page is defined %}
                    {% set onMag = page.article.issue.magazine %}
                    {% endif %}
                {% endif %}
                
                {% for mag in app.session.get('globalMags') %}
                <li><a href="{{ path('magazine_issues', {'id':mag.id}) }}" class="nav-top-item {% if onMag is defined and onMag.id == mag.id %}current{% endif %}">{{ mag.name }}</a>
                    <ul>
                        <li><a {% if currentRoute == 'magazine_classify' and onMag is defined and onMag.id == mag.id %}class="current"{% endif %} href="{{ path('magazine_classify', {'id':mag.id}) }}">分类定义</a></li>
                        <li><a {% if currentRoute == 'magazine_issues' and onMag is defined and onMag.id == mag.id %}class="current"{% endif %} href="{{ path('issue_list') }}">期刊查看</a></li>
                        {% if is_granted('ROLE_CORP') %}
                        <li><a {% if currentRoute == 'issue_new' and onMag is defined and onMag.id == mag.id %}class="current"{% endif %} href="{{ path('issue_new', {'id':mag.id}) }}">期刊创建</a></li>
                        {% endif %}
                        <li><a {% if currentRoute == 'article_new' and onMag is defined and onMag.id == mag.id %}class="current"{% endif %} href="{{ path('article_new', {'id':mag.id}) }}">文章创建</a></li>
                        {# <li><a {% if currentRoute == 'article_comment_list' %}class="current"{% endif %} href="{{ path('article_comment_list') }}">用户评论</a></li> #}
                        <!-- <li><a href="#">文章检索</a></li> -->
                    </ul>
                </li>
                {% endfor %}
                
                <li><a href="#" class="nav-top-item {% if currentRoute in ['staff_user_list', 'staff_user_new', 'corp_user_list', 'corp_user_show', 'trial_user_list', 'trial_user_show', 'trial_user_new', 'consumer_list'] %}current{% endif %}">用户管理</a>
                    <ul>
                        <li><a {% if currentRoute == 'consumer_list' %}class="current"{% endif %} href="{{ path('consumer_list') }}">消费用户</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a {% if currentRoute == 'corp_user_list' or currentRoute == 'corp_user_show' %}class="current"{% endif %} href="{{ path('corp_user_list') }}">杂志组用户</a></li>
                            <li><a {% if currentRoute == 'trial_user_list' %}class="current"{% endif %} href="{{ path('trial_user_list') }}">试用用户</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CORP') and not is_granted('ROLE_ADMIN') %}
                            <li><a {% if currentRoute == 'staff_user_list' or currentRoute == 'staff_user_show' %}class="current"{% endif %} href="{{ path('staff_user_list') }}">杂志用户</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                {% set nbWaitingIAP = getNumberOfWaitingIAP() %}
                <li><a href="#" class="nav-top-item {% if currentRoute in ['sonata_admin_dashboard', 'news_list', 'user_edit', 'iap_list', 'iap_edit', 'dev_home'] %}current{% endif %}">系统设置 {% if nbWaitingIAP > 0 %}<span class="badge badge-warning">{{ nbWaitingIAP }}</span>{% endif %}</a>
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a title="管理员后台管理" {% if currentRoute == 'sonata_admin_dashboard' %}class="current"{% endif %} href="{{ path('sonata_admin_dashboard') }}">管理后台</a></li>
                            <li><a {% if currentRoute == 'news_list' %}class="current"{% endif %} href="{{ path('news_list') }}">讯息发布</a></li>
                            <li><a {% if currentRoute == 'iap_list' or currentRoute == 'iap_edit' %}class="current"{% endif %} href="{{ path('iap_list') }}">{% if nbWaitingIAP > 0 %}<span class="badge badge-warning">{{ nbWaitingIAP }}</span> {% endif %}IAP申请</a></li>
                            <li><a {% if currentRoute == 'dev_home' %}class="current"{% endif %} href="{{ path('dev_home') }}">开发设置</a></li>
                        {% else %}
                            <li><a {% if currentRoute == 'user_edit' %}class="current"{% endif %} href="{{ path('user_edit') }}">帐号设置</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul> <!-- End #main-nav -->
        </div></div> <!-- End #sidebar -->
        
        <div id="main-content"> <!-- Main Content Section with everything -->
            <noscript> <!-- Show a notification if the user has disabled javascript -->
                <div class="notification error png_bg">
                    <div>请启用Javascript</div>
                </div>
            </noscript>
            
            <h2>{% block contentTitle %}{% endblock %}</h2>
            <!--<div class="page-header">
                <ul class="mybread">
                    {% block breadcrumb %}<li><a href="#">Magend</a> <span class="divider">/</span></li>{% endblock %}
                </ul>
            </div>-->
            <div class="row"><div class="span12" style="min-height: 1000px;">
                {% block main %}{% endblock %}
            </div></div>
            
            <div id="footer">
                <small> <!-- Remove this notice or replace it with whatever you want -->
                        &#169; Copyright 2011 5DScape | Powered by <a href="#">Kail</a> | <a href="#">Top</a>
                </small>
            </div><!-- End #footer -->
        </div>
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.ui.datepicker-zh-CN.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.extractor.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.fileupload.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.mustache.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.ajaxQueue.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/underscore-min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/underscore.string.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript"> _.mixin(_.str.exports()) </script>
            <script src="{{ asset('js/backbone-min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/backbone.ext.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/backbone.queuedSync.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/backbone.localStorage.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/Backbone.ModelBinder.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/tag-it.js') }}" type="text/javascript"></script>
            
            <script src="{{ asset('js/chosen.jquery.min.js') }}" type="text/javascript"></script>
            
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            
            <script src="{{ asset('js/jsbasics.js') }}" type="text/javascript"></script>
            
            <script src="{{ asset('js/jquery.colorbox-min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.config.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.issue_new.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.article_new.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.articles_layout.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.undo.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.contextMenu.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.hots.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/magend.page_edit.js') }}" type="text/javascript"></script>
            
            <script src="{{ asset('js/facebox.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/simpla.jquery.configuration.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>