{# collection is parent #}
{% block hot_widget %}
    {% spaceless %}
        <div class="hot_form">
            {{ block('field_rows') }}
            {{ form_rest(form) }}
            
            <a class="hot_del" href="#">-删除</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block assets_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        
        <ul class="upload_panel" {% if nb_max is not null %}nb_max="{{ nb_max}}"{% endif %} grouped_to="{{ name }}" file_note="{{ file_note}}" file_formats="{{ file_formats }}" style="width:300px; height:200px; background:#333;">
        </ul>
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}