{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block title %}{% if article.id %}编辑文章{% else %}创建新文章{% endif %}{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}

<ul class="pills" style="margin-left: 80px;" data-pills="pills">
    <li class="active"><a href="#newBasic">基本信息</a></li>
    <li><a id="newPagesTab" rel="{{ article.id }}" href="#newPages">页面</a></li>
</ul>

<div class="pill-content">
    <div id="newBasic" class="pill-pane active">
        {% include 'MagendArticleBundle:Article:newBasic.html.twig' %}
    </div>
    
    <div id="newPages" class="pill-pane" style="padding: 10px 0 0 60px;">
        <div class="alert-message block-message info fade in" data-alert="alert">
            <a class="close" href="#">&times;</a>
            <h3>从本地硬盘拖拽图片到这里添加页面.</h3>
        </div>
        <div class="well"><button id="submit_pages" data-loading-text="保存中..." class="btn info">保存</button></div>
        <ol class="pages" rel="{{ path('page_upload') }}">
            <li style="display:none" class="page"><a href="#" title=""><img src="http://placehold.it/128x96" /></a></li><!-- not empty to make sortable no wrong -->
            {% if article.id %}
                {% for page in article.pages %}
                <li class="page" rel="{{ page.id }}"><a href="{{ path('page_del', { 'id': page.id }) }}" class="pagedel"></a><a href="#" title=""><img src="{{ ('uploads/' ~ page.landscapeImg)|apply_filter('landscapeThumb') }}" /></a></li>
                {% endfor %}
            {% endif %}
        </ol>
    </div>
</div>
{% endblock %}