{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block contentTitle %}
    {% if article.id %}
        <a href="{{ path('issue_article_list', { 'id':article.issue.id }) }}">{{ article.issue.title }}</a>
        <span style="color:#AAA"> / </span>
        {{ article.title|default('(文章' ~ article.id ~ ')') }}
    {% endif %}
{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}

<div style="margin-bottom:10px;">
    {% if prev is defined and prev is not null %}
        <a href="{{ path('article_edit', { 'id':prev }) }}" class="btn btn-info">上一篇</a>
    {% endif %}
    {% if prev is defined and next is not null %}
        <a href="{{ path('article_edit', { 'id':next }) }}" class="btn btn-info">下一篇</a>
    {% endif %}
</div>

<ul class="nav nav-tabs">
    <li class="active"><a id"newBasicTab" href="#newBasic" data-toggle="tab">基本信息</a></li>
    <li><a id="newPagesTab" rel="{{ article.id }}" href="#newPages" data-toggle="tab">主页面</a></li>
</ul>

<div class="tab-content">
    <div id="newBasic" class="tab-pane active">
        {% include 'MagendArticleBundle:Article:newBasic.html.twig' %}
    </div>
    
    <div id="newPages" class="tab-pane newPages" style="width:500px;">
        <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert">×</a>
            <strong>从本地硬盘拖拽图片到这里添加页面.</strong>
        </div>
        <div class="well"><button rel="0" data-loading-text="保存中..." class="btn btn-info submit_pages">保存</button></div>
        <ol class="pages" rel="{{ path('page_upload', {'type':0}) }}">
            <li style="display:none" class="page">
                <a href="#" title="">
                <img src="http://placehold.it/128x96" /></a>
            </li><!-- not empty to make sortable no wrong -->
            {% if article.id %}
                {% for page in article.pages %}
                <li class="page" rel="{{ page.id }}" seq="{{ page.seq }}">
                    <a href="{{ path('page_del', { 'id': page.id }) }}" class="pagedel"></a>
                    <a href="#" title=""><img src="{{ ('uploads/' ~ page.landscapeImg)|apply_filter('landscapeThumb') }}" /></a>
                </li>
                {% endfor %}
            {% endif %}
        </ol>
        <div style="clear:both; height:200px;"></div>
    </div>
</div>
{% endblock %}