{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block contentTitle %}
    {% if article.id %}
        <a href="{{ path('issue_article_list', { 'id':article.issue.id }) }}">{{ article.issue.title }}</a>
        <span style="color:#AAA"> / </span>
        {{ article.title|default('(文章' ~ article.id ~ ')') }}
    {% endif %}
{% endblock %}

{% form_theme form '::fields.html.twig' %}

{% block main %}

<div style="position:absolute; width:80px; top:94px;">
    {% if prev is defined and prev is not null %}<a href="{{ path('article_edit', { 'id':prev }) }}" class="btn info">上一篇</a><p/>{% endif %}
    {% if prev is defined and next is not null %}<a href="{{ path('article_edit', { 'id':next }) }}" class="btn info">下一篇</a>{% endif %}
</div>

<ul class="pills" style="margin-left: 80px;" data-pills="pills">
    <li class="active"><a id"newBasicTab" href="#newBasic">基本信息</a></li>
    <li><a id="newPagesTab" rel="{{ article.id }}" href="#newPages">主页面</a></li>
    <li class="article-uncommon article-type4" {% if article.type != 4 %}style="display:none;"{% endif %}><a id="newInfoPagesTab" rel="{{ article.id }}" href="#newInfoPages">信息页</a></li>
    <li class="article-uncommon article-type4" {% if article.type != 4 %}style="display:none;"{% endif %}><a id="newStructurePagesTab" rel="{{ article.id }}" href="#newStructurePages">结构图</a></li>
</ul>

<div class="pill-content">
    <div id="newBasic" class="pill-pane active">
        {% include 'MagendArticleBundle:Article:newBasic.html.twig' %}
    </div>
    
    <div id="newPages" class="pill-pane newPages">
        <div class="alert-message block-message info fade in" data-alert="alert">
            <a class="close" href="#">&times;</a>
            <h3>从本地硬盘拖拽图片到这里添加页面.</h3>
        </div>
        <div class="well"><button rel="0" data-loading-text="保存中..." class="btn info submit_pages">保存</button></div>
        <ol class="pages" rel="{{ path('page_upload', {'type':0}) }}">
            <li style="display:none" class="page"><a href="#" title=""><img src="http://placehold.it/128x96" /></a></li><!-- not empty to make sortable no wrong -->
            {% if article.id %}
                {% for page in article.pages %}
                <li class="page" rel="{{ page.id }}"><a href="{{ path('page_del', { 'id': page.id }) }}" class="pagedel"></a><a href="#" title=""><img src="{{ ('uploads/' ~ page.landscapeImg)|apply_filter('landscapeThumb') }}" /></a></li>
                {% endfor %}
            {% endif %}
        </ol>
        <div style="clear:both; height:200px;"></div>
    </div>
    
    <div id="newInfoPages" class="pill-pane newPages">
        <div class="alert-message block-message info fade in" data-alert="alert">
            <a class="close" href="#">&times;</a>
            <h3>从本地硬盘拖拽图片到这里添加页面.</h3>
        </div>
        <div class="well"><button rel="1" data-loading-text="保存中..." class="btn info submit_pages">保存</button></div>
        <ol class="pages" rel="{{ path('page_upload', {'type':1}) }}">
            <li style="display:none" class="page"><a href="#" title=""><img src="http://placehold.it/128x96" /></a></li><!-- not empty to make sortable no wrong -->
            {% if article.id %}
                {% for page in article.infoPages %}
                <li class="page" rel="{{ page.id }}"><a href="{{ path('page_del', { 'id': page.id }) }}" class="pagedel"></a><a href="#" title=""><img src="{{ ('uploads/' ~ page.landscapeImg)|apply_filter('landscapeThumb') }}" /></a></li>
                {% endfor %}
            {% endif %}
        </ol>
        <div style="clear:both; height:200px;"></div>
    </div>
</div>
{% endblock %}