<form id="article_form" action="{% if article.id is null %}{{ path('article_new', {'id':app.request.get('id')}) }}{% else %}{{ path('article_edit', { 'id':article.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>
    {{ form_label(form.title, '期刊选择') }}
    <select id="issuesel" class="medium" name="issueId" required=true>
        {% if magazine is not defined and issue is not empty %}{% set magazine = issue.magazine %}{% endif %}
        {% include 'MagendMagazineBundle:Magazine:issueOptions.html.twig' with {'issues':magazine.issues} %}
    </select>
    
    {{ form_label(form.type, '文章类型') }}
    {{ form_errors(form.type) }}{{ form_widget(form.type, { 'attr':{'class':'small'}, 'id':'article_typesel' }) }}

    {{ form_label(form.title, '标题') }}
    {{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr':{'class':'span6'} }) }}
    
    {{ form_label(form.enTitle, '英文标题') }}
    {{ form_errors(form.enTitle) }}{{ form_widget(form.enTitle, { 'attr':{'class':'span6'} }) }}
    
    {{ form_label(form.keywordsText, '关键词') }}
    <select id="keywordsel" class="medium" style="margin-bottom:5px;">
        <option value=""></option>
        {% for keyword in keywords %}
        <option value="{{ loop.index }}">{{ keyword.keyword }}</option>
        {% endfor %}
    </select>
    {{ form_errors(form.keywordsText) }}
    <div style="width:480px;">{{ form_widget(form.keywordsText, { 'attr': {'class':'taggable'} }) }}</div>
        
    {{ form_label(form.audioFile, '背景音乐') }}
    {{ form_errors(form.audioFile) }}
    {{ form_widget(form.audioFile, { 'attr':{'class':''} }) }}
    
    <div class="article-uncommon article-type4" {% if article.type != 4 %}style="display:none;"{% endif %}>
        {{ form_label(form.project, '项目类型') }}
        {{ form_errors(form.project) }}
        {{ form_widget(form.project, { 'attr':{'class':''} }) }}
    </div>

    <div class="article-uncommon article-type4 article-type5" {% if article.type != 4 and article.type != 5 %}style="display:none;"{% endif %}>
        {{ form_label(form.institutes, '设计机构') }}
        <div class="input">
            {{ form_errors(form.institutes) }}
            {{ form_widget(form.institutes, { 'attr':{'class':''} }) }}
        </div>
    </div>
    
    <div class="article-uncommon article-type4" {% if article.type != 4 %}style="display:none;"{% endif %}>
            <label class="required">经纬度</label>
            <div class="input">
                <span id="latdiv">{{ form_errors(form.lat) }}{{ form_widget(form.lat, { 'attr':{'class':'span1'} }) }}</span>
                &nbsp;
                <span id="lngdiv">{{ form_errors(form.lng) }}{{ form_widget(form.lng, { 'attr':{'class':'span1'} }) }}</span>
            </div>
        
            {{ form_widget(form.projectAddr, { 'attr':{'class':'span5' }, 'id':'geoinput' }) }} <button id="geobtn" style="margin-bottom:9px;" class="btn">获取该地址经纬度</button>
            <div id="map_canvas" style="width:600px; height:300px; background-color:#CCC;"></div>
    </div>
    
    {{ form_rest(form) }}
    
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">提 交</button>
    </div>
</form>
