<form id="article_form" action="{% if article.id is null %}{{ path('article_new') }}{% else %}{{ path('article_edit', { 'id':article.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>

    <div class="clearfix">
        {{ form_label(form.title, '杂志选择') }}
        <div class="input"><select id="magsel" class="medium">
            {% for magzine in magzines %}
            <option value="{{ path('magzine_issues', { 'id':magzine.id }) }}" {% if issue is defined and issue.magzine.id == magzine.id %}selected="selected"{% endif %}>{{ magzine.name }}</option>
            {% endfor %}            
        </select></div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.title, '期刊选择') }}
        <div class="input"><select id="issuesel" class="medium" name="issueId" required=true>
            {% if issue is defined %}
            {% include 'MagendMagzineBundle:Magzine:issueOptions.html.twig' with {'issues':issue.magzine.issues} %}
            {% endif %}
        </select></div>
    </div>

    <div class="clearfix">
        {{ form_label(form.title, '标题') }}
        <div class="input">{{ form_errors(form.title) }}{{ form_widget(form.title, { 'attr':{'class':'span6'} }) }}</div>
    </div>
    {#
    <div class="clearfix">
        {{ form_label(form.architectsText, '设计机构') }}
        <div class="input">
            <select id="architectsel" class="medium" style="margin-bottom:5px;">
                <option value=""></option>
                {% for architect in architects %}
                <option value="{{ loop.index }}">{{ architect.name }}</option>
                {% endfor %}
            </select>
            {{ form_errors(form.architectsText) }}
            <div class="span5">{{ form_widget(form.architectsText, { 'attr':{'class':'taggable'} }) }}</div>
        </div>
    </div>
    #}
    <div class="clearfix">
        {{ form_label(form.keywordsText, '关键词') }}
        <div class="input">
            <select id="keywordsel" class="medium" style="margin-bottom:5px;">
                <option value=""></option>
                {% for keyword in keywords %}
                <option value="{{ loop.index }}">{{ keyword.keyword }}</option>
                {% endfor %}
            </select>
            {{ form_errors(form.keywordsText) }}
            <div class="span5">{{ form_widget(form.keywordsText, { 'attr': {'class':'taggable'} }) }}</div>
        </div>
    </div>
    
    <div class="clearfix">
        <label>背景音乐</label>
        <div class="input">
            <div id="attachAudio">
                拖拽音频文件到这里
            </div>
            <p/>
            音频文件：<a id="attachedAudio" target="_blank" href="{% if article.audio %}{{ asset('uploads/' ~ article.audio) }}{% else %}#{% endif %}">{{ article.audioName|default('尚未上传') }}</a>
        </div>
    </div>
    
    <div class="clearfix">
        <label class="required">经纬度</label>
        <div class="input">
            <span id="latdiv">{{ form_errors(form.lat) }}{{ form_widget(form.lat, { 'attr':{'class':'small'} }) }}</span>
            &nbsp;
            <span id="lngdiv">{{ form_errors(form.lng) }}{{ form_widget(form.lng, { 'attr':{'class':'small'} }) }}</span>
        </div>
    </div>
    
    <div class="clearfix">
        <div class="input">
            <input id="geoinput" class="span6" type="text" name="geocoding" value="" /> <button id="geobtn" class="btn">获取该地址经纬度</button>
            <p/>
            <div id="map_canvas" style="width:600px; height:300px; background-color:#CCC;"></div>
        </div>
    </div>
    
    {{ form_rest(form) }}
    
    <div class="actions">
        <button class="btn primary" type="submit">提交</button>
    </div>
</form>