<form id="article_form" action="{% if article.id is null %}{{ path('article_new') }}{% else %}{{ path('article_edit', { 'id':article.id }) }}{% endif %}" method="post" {{ form_enctype(form) }}>
    
    {{ form_label(form.title, '套系选择') }}
    <select id="issuesel" class="medium" name="issueId" required=true>
        {% render 'MagendIssueBundle:Issue:options' with { 'id':app.request.get('id') } %}
    </select>
    
    {{ form_label(form.type, '文章类型') }}
    {{ form_widget(form.type, { 'attr':{'class':'small'}, 'id':'article_typesel' }) }}

    {{ form_label(form.title, '标题') }}
    {{ form_widget(form.title, { 'attr':{'class':'span5'} }) }}
    
    {{ form_label(form.enTitle, '英文标题') }}
    {{ form_widget(form.enTitle, { 'attr':{'class':'span5'} }) }}
    
    {{ form_rest(form) }}
    
    <div class="actions">
        <button class="btn btn-primary" type="submit">提交</button>
    </div>
</form>