{% extends '::base.html.twig' %}

{% block title %}{{ article.title|truncate(10) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ article.title|truncate(10) }}</li>
{% endblock %}

{% block main %}

<table class="bordered-table zebra-striped">
    <tbody>
        <tr>
            <th width="60">标题</th>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <th>建筑师</th>
            <td>
                {% for architect in article.architects %}
                    <a href="#{{ architect.id }}" title="点击查看{{ architect }}的所有文章">{{ architect }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>关键词</th>
            <td>
                {% for keyword in article.keywords %}
                    <a href="#{{ keyword.id }}" title="点击查看含有{{ keyword }}的所有文章">{{ keyword }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <div style="padding:2px;width:98%;height:200px;line-height:200px;font-size:38px;color:#EEE;text-align:center;">拖拽图片到这里</div>
            </td>
        </tr>
    </tbody>
</table>

<div class="well">
    <a class="btn" href="#">返回列表</a>
    <a class="primary btn" href="{{ path('article_edit', { 'id': article.id }) }}">编辑</a>
    <a class="danger btn" style="float:right;" href="{{ path('article_show', { 'id': article.id }) }}">删除</a>
</div>
{% endblock %}
