{% extends '::base.html.twig' %}

{% block title %}{{ article.title|truncate(10) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a title="期刊列表" href="{{ url('issue_show', { 'id':article.issue.id }) }}">{{ article.issue.title }}</a> <span class="divider">/</span></li>
    <li class="active">{{ article.title|truncate(10) }}</li>
{% endblock %}

{% block main %}

<table class="bordered-table zebra-striped">
    <tbody>
        <tr>
            <th width="60">标题</th>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <th>建筑师</th>
            <td>
                {% for architect in article.architects %}
                    <a href="#{{ architect.id }}" title="点击查看{{ architect }}的所有文章">{{ architect }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>关键词</th>
            <td>
                {% for keyword in article.keywords %}
                    <a href="#{{ keyword.id }}" title="点击查看含有{{ keyword }}的所有文章">{{ keyword }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>页面</th>
            <td style="height: 180px;">
                <div><a class="btn info" id="save_pages" href="#">保存</a>  拖拽图片到下面创建页面</div>
                <span id="article_id" style="display:none">{{ article.id }}</span>
                <div id="article_pages" style="width: 720px; overflow-x: auto; border: 1px solid #CCC; height: 100%; margin-top: 8px; ">
                    <ol class="pages"></ol>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="well">
    <a class="btn" href="#">返回列表</a>
    <a class="primary btn" href="{{ path('article_edit', { 'id': article.id }) }}">编辑文字信息</a>
    <a class="danger btn" style="float:right;" href="{{ path('article_show', { 'id': article.id }) }}">删除</a>
</div>
{% endblock %}
