{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block main %}

<form id="corp_trial_form" style="width:680px;" action="{{ path('trial_user_new') }}" method="post" {{ form_enctype(form) }}>
    <div style="margin:10px 0 0 20px;">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}{{ form_widget(form.username, { 'attr':{'class':'middle'} }) }}
        
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}{{ form_widget(form.email, { 'attr':{'class':'middle'} }) }}
        
        {{ form_label(form.nickname) }}
        {{ form_errors(form.nickname) }}{{ form_widget(form.nickname, { 'attr':{'class':'middle'} }) }}
        
        {{ form_label(form.plainPassword.first, '密码') }}
        {{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first, { 'attr':{'class':'span3'} }) }}
        
        {{ form_label(form.plainPassword.second, '密码确认') }}
        {{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second, { 'attr':{'class':'span3'} }) }}
        
        {{ form_widget(form._token) }}
    </div>
    
    <div class="form-actions"><button class="btn btn-primary" type="submit">提交</button></div>
</form>

{% endblock %}