{% extends '::base.html.twig' %}

{% block contentTitle %}试用用户详情{% endblock %}

{% block main %}
    <table class="bordered-table zebra-striped">
        <tbody>
            <tr>
                <th width="80">企业名称</th>
                <td>{{ user.corp.name }}</td>
            </tr>
            <tr>
                <th>邮箱</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>电话</th>
                <td>{{ user.corp.phone }}</td>
            </tr>
            <tr>
                <th>法人</th>
                <td>{{ user.corp.legalPerson }}</td>
            </tr>
            <tr>
                <th>联系人身份证</th>
                <td class="thumbup">{{ user.corp.contactId }}</td>
            </tr>
            <tr>
                <th>组织机构代码</th>
                <td><a rel="colorbox" title="组织机构代码" href="{{ asset('uploads/corp/' ~ user.corp.orgCode) }}"><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.orgCode) }}" /></a></td>
            </tr>
            <tr>
                <th>营业执照</th>
                <td><a rel="colorbox" title="营业执照" href="{{ asset('uploads/corp/' ~ user.corp.license) }}"><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.license) }}" /></a></td>
            </tr>
            <tr>
                <th>安全承诺书</th>
                <td><a rel="colorbox" title="安全承诺书" href="{{ asset('uploads/corp/' ~ user.corp.pledge) }}"><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.pledge) }}" /></a></td>
            </tr>
        </tbody>
    </table>
    
    <div class="well">
        <a class="btn" href="{{ path('corp_user_list') }}">返回列表</a>
        <a class="info btn" href="{{ path('admin_magend_user_user_edit', { 'id':user.id }) }}">编辑</a>
        {% if not user.enabled %}<a class="primary btn" href="{{ path('corp_user_enable', { 'id':user.id }) }}">审核通过</a>{% endif %}
        <a rel="confirm" title="删除用户" class="danger btn" style="float:right;" href="{{ path('corp_user_del', { 'id':user.id }) }}">删除</a>
    </div>
{% endblock %}