{% extends '::base.html.twig' %}

{% block contentTitle %}企业用户列表{% endblock %}

{% block main %}

    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">
            <h3>分用户表</h3>
            <div style="padding-top: 6px">
                <a rel="dialog" class="btn info" href="#">创建试用帐号</a>
            </div>
            <div class="clear"></div>
        </div> <!-- End .content-box-header -->
                
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead><tr>
                    <th>用户名</th>
                    <th>企业名</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>激活</th>
                </tr></thead>
             
                <tfoot><tr>
                    <td colspan="6">
                        <!--<div class="bulk-actions align-left">
                            <select name="dropdown" class="small">
                                <option value="option1">选择...</option>
                                <option value="option3">删除</option>
                            </select>
                            <a class="button" href="#">执行</a>
                        </div>-->
                        
                        {% if pager.haveToPaginate() %}{{ pagerfanta(pager, 'magend') }}{% endif %}
                        <div class="clear"></div>
                    </td>
                </tr></tfoot>
             
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a title="查看该用户详情" href="{{ path('corp_user_show', { 'id':user.id }) }}">{{ user.username }}</a></td>
                        <td><a title="查看该用户详情" href="{{ path('corp_user_show', { 'id':user.id }) }}">{{ user.corp.name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date('Y-m-d H:i') }}</td>
                        <td style="width:50px;"><img src="{{ asset(user.enabled ? 'images/accept.png' : 'images/exclamation.png') }}"</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
                    
{% endblock %}