{% extends '::base.html.twig' %}

{% block contentTitle %}企业用户详情{% endblock %}

{% block main %}
    <table class="bordered-table zebra-striped">
        <tbody>
            <tr>
                <th width="80">企业名称</th>
                <td>{{ user.corp.name }}</td>
            </tr>
            <tr>
                <th>邮箱</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>电话</th>
                <td>{{ user.corp.phone }}</td>
            </tr>
            <tr>
                <th>法人</th>
                <td>{{ user.corp.legalPerson }}</td>
            </tr>
            <tr>
                <th>联系人身份证</th>
                <td class="thumbup">{{ user.corp.contactId }}</td>
            </tr>
            <tr>
                <th>组织机构代码</th>
                <td><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.orgCode) }}" /></td>
            </tr>
            <tr>
                <th>营业执照</th>
                <td><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.license) }}" /></td>
            </tr>
            <tr>
                <th>安全承诺书</th>
                <td><img style="height:80px;" src="{{ asset('uploads/corp/' ~ user.corp.pledge) }}" /></td>
            </tr>
        </tbody>
    </table>
    
    <div class="well">
        <a class="btn" href="{{ path('corp_user_list') }}">返回列表</a>
        <a class="primary btn" href="#">编辑信息</a>
        <a class="danger btn" style="float:right;" href="#">删除</a>
    </div>
{% endblock %}