{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block main %}
{% if not app.request.isXmlHTTPRequest() %}<h2>创建{{ currentUser.corp is not null ? currentUser.corp.name : '企业' }}内部用户</h2>{% endif %}
<form id="corp_trial_form" style="width:680px; margin-top:10px;" action="{{ path('staff_user_new') }}" method="post" {{ form_enctype(form) }}>

    <div class="clearfix">
        {{ form_label(form.username) }}
        <div class="input">{{ form_errors(form.username) }}{{ form_widget(form.username, { 'attr':{'class':'middle'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.email) }}
        <div class="input">{{ form_errors(form.email) }}{{ form_widget(form.email, { 'attr':{'class':'middle'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.nickname) }}
        <div class="input">{{ form_errors(form.nickname) }}{{ form_widget(form.nickname, { 'attr':{'class':'middle'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.plainPassword.first, '密码') }}
        <div class="input">{{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first, { 'attr':{'class':'span3'} }) }}</div>
    </div>
    
    <div class="clearfix">
        {{ form_label(form.plainPassword.second, '密码确认') }}
        <div class="input">{{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second, { 'attr':{'class':'span3'} }) }}</div>
    </div>
    
    {{ form_widget(form._token) }}
    
    <div class="actions"><button class="btn primary" type="submit">提交</button></div>
    
</form>

{% endblock %}