<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Magend!{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <style>
            body { background-color: #333; }
            h2, label { color: #EEE; }
            h2 { margin: 10px auto; padding-left: 120px; }
            .clearfix { clear:both; }
        </style>
    </head>
    <body>
        <div class="container span6">
        <h2>企业用户注册</h2>
        <form id="register_form" action="{{ path('corp_registration') }}" {{ form_enctype(form) }} method="POST" class="form_vertical fos_user_registration_register">
            <div class="clearfix">
                {{ form_label(form.username, '用户ID') }}
                <div class="input">{{ form_errors(form.username) }}{{ form_widget(form.username, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            <div class="clearfix">
                {{ form_label(form.email, '邮箱') }}
                <div class="input">{{ form_errors(form.email) }}{{ form_widget(form.email, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            <div class="clearfix">
                {{ form_label(form.nickname, '昵称') }}
                <div class="input">{{ form_errors(form.nickname) }}{{ form_widget(form.nickname, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            <div class="clearfix">
                {{ form_label(form.plainPassword.first, '密码') }}
                <div class="input">{{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            <div class="clearfix">
                {{ form_label(form.plainPassword.second, '密码确认') }}
                <div class="input">{{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            <div class="clearfix">
                {{ form_label(form.mobile, '手机') }}
                <div class="input">{{ form_errors(form.mobile) }}{{ form_widget(form.mobile, { 'attr':{'class':'span3'} }) }}</div>
            </div>
            
            {{ form_rest(form) }}
            
            <div class="clearfix">
                <div class="input"><input type="submit" class="btn" value="提交" /></div>
            </div>
        </form>
        </div>
    </body>
</html>