{% extends '::base.html.twig' %}

{% block title %}单页编辑{% endblock %}

{% block contentTitle %}
    <a href="{{ path('magzine_issues', { 'id':page.article.issue.magzine.id }) }}">{{ page.article.issue.magzine.name }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('issue_article_list', { 'id':page.article.issue.id }) }}">{{ page.article.issue.title }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('article_edit', { 'id':page.article.id }) }}">{{ page.article.title|default('(文章' ~ page.article.id ~ ')') }}</a>
    <span style="color:#AAA"> / </span>
    热点编辑
{% endblock %}

{% block main %}

<script type="text/javascript">
    var basePath = '{{ app.request.basePath }}';
    var initHots = [];
{% for hot in page.landscapeHots %}
    {% set hotsData = { 'attrs':hot.attrs|merge({ 'id':hot.id }) } %}
    {% if hot.extraAttrs %}
        {% set hotsData = hotsData|merge({ 'extras':hot.extraAttrs }) %}
    {% endif %}
    {% if hot.assets %}
        {% set hotsData = hotsData|merge({ 'assets':hot.assets }) %}
    {% endif %}
    
    initHots.push({{ hotsData|json_encode()|raw }});
{% endfor %}
</script>

<div id="page_editor">
    <!--<input type="checkbox" id="selenable" />
    <div id="info_panel"></div>-->
    <div style="width: 1024px;">        
        <div id="pageid" style="display:none;">{{page.id}}</div>
        <button id="saveall" class="btn primary">保存</button>
        {% if prev is not null %}<a href="{{ path('page_edit', { 'id':prev }) }}" class="btn info">上一页</a>{% endif %}
        {% if next is not null %}<a href="{{ path('page_edit', { 'id':next }) }}" class="btn info">下一页</a>{% endif %}
        <span style="margin-left:20px;">拖拽图片至图片区替换背景图片</span>
        <!--<button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>
        <button id="flushall" class="btn danger" style="float: right;">清空</button>-->
    </div>
    <ul id="hotlib">
        <!-- hot_type as li's id, type will be model's type -->
        <li id="hot_0" class="hotobj hotsimg" title="单张图片将显示在热点区域内，一般图片可滚动"><span class="hide">单图</span></li>
        <li id="hot_1" class="hotobj hotimgs" title="用于画廊、相片流等"><span class="hide">多图</span></li>
        <li id="hot_2" class="hotobj hotlink" title="内部链接或者网页链接"><span class="hide">链接</span></li>
        <li id="hot_3" class="hotobj hotvideo" title="视频"><span class="hide">视频</span></li>
        <li id="hot_4" class="hotobj hotaudio" title="音频"><span class="hide">音频</span></li>
    </ul>
    
    <div id="hot_dialog" style="padding:10px;">
        <div id="hot_essential">
            <div>坐标: <input type="text" name="x" class="span1" />, <input type="text" name="y" class="span1" /></div>
            <br/>
            <div>长宽: <input type="text" name="w" class="span1" />, <input type="text" name="h" class="span1" /> <span style="color:#FC3F4D;">（不能小于40x40）</span></div>
        </div>
        <br/>
        
        <div id="hot_0_dialog" class="dlgcontent" style="display:none; min-width: 400px; min-height: 120px;">
            <form action="#">
                <input type="radio" name="subtype" value="0" checked="checked" /> <span>嵌入</span>
                <input type="radio" name="subtype" value="1" /> <span>点击全屏浏览</span>
            </form>
            <p>拖拽单张图片到下面</p>
            <div id="image-upload-area" style="width: 400px; height: 120px; background-color: #CCC; padding: 20px; overflow-x: auto;">
                
            </div>
        </div>
        
        <div id="hot_1_dialog" class="dlgcontent" style="display:none; min-width: 400px; min-height: 120px; overflow-x: auto;">
            <p style="position: absolute; left: 10px;">拖拽多张图片到这里</p>
            <div style="margin-top: 30px; width: 300px; background-color: red;">
                <ol id="hotimgs" style="min-width: 400px; height: 150px; background-color: #333;">
                    <li style="display:none" class="page"><a href="#" title=""><img src="http://placehold.it/128x96" /></a></li><!-- not empty to make sortable no wrong -->
                </ol>
            </div>
        </div>
        
        <div id="hot_2_dialog" class="dlgcontent" style="display:none;">
            <form action="#">
                <input id="internRadio" type="radio" name="type" value="0" /> 内部页面
                <input id="externRadio" type="radio" name="type" value="1" checked="checked" /> 外部链接
                <p/>
                <input id="linkInput" type="text" class="span6" name="link" value="" />
            </form>
        </div>
        
        <div id="hot_3_dialog" class="dlgcontent" style="display:none; min-width: 300px; ">
            <form action="#">
                <input type="radio" name="subtype" value="0" checked="checked" /> <span>嵌入</span>
                <input type="radio" name="subtype" value="1" /> <span>点击全屏浏览</span></form>
            <div id="video-upload-area">
                拖拽视频到这里
            </div>
        </div>
        
        <div id="hot_4_dialog" class="dlgcontent" style="display:none; min-width: 300px; ">
            <form action="#">
                <input type="radio" name="subtype" value="0" checked="checked" /> <span>自动播放</span>
                <input type="radio" name="subtype" value="1" /> <span>手动播放</span>
            </form>
            <div id="audio-upload-area">
                拖拽音频到这里
            </div>
        </div>
        
    </div><!-- end of dialog -->
    
    <div>
        <div id="page_canvas_img" tabIndex="1">
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" />
        </div>
    	<ul id="page_canvas">
    	</ul>
    </div>
</div>
{% endblock %}