{% extends '::base.html.twig' %}

{% block title %}单页编辑{% endblock %}

{% block contentTitle %}
    <a href="{{ path('magzine_issues', { 'id':page.article.issue.magzine.id }) }}">{{ page.article.issue.magzine.name }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('issue_article_list', { 'id':page.article.issue.id }) }}">{{ page.article.issue.title }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('article_edit', { 'id':page.article.id }) }}">{{ page.article.title|default('(文章' ~ page.article.id ~ ')') }}</a>
    <span style="color:#AAA"> / </span>
    热点编辑
{% endblock %}

{% block main %}

<script type="text/javascript">
    var initHots = [];
{% for hot in page.landscapeHots %}
    {% set hotAttrs = hot.attrs|merge({ 'id':hot.id }) %}
    initHots.push({{ hotAttrs|json_encode()|raw }});
{% endfor %}
</script>

<div id="page_editor">
    <!--<input type="checkbox" id="selenable" />
    <div id="info_panel">
        
    </div>-->
    <div style="width: 768px;">
        <div id="pageid" style="display:none;">{{page.id}}</div>
        <button id="saveall" class="btn primary">保存</button>
        <button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>
        <button id="flushall" class="btn danger" style="float: right;">清空</button>
    </div>
    <p/>
    <div id="hot_dialog">
    
    </div>
    <div>
        <div id="page_canvas_img" tabIndex="1">
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" />
        </div>
    	<ul id="page_canvas">
    	</ul>
    </div>
    <ul id="hotlib">
        <li class="hotobj hotimg">图片</li>
        <li class="hotobj hotvideo">视频</li>
        <li class="hotobj hotlink">链接</li>
    </ul>
</div>
{% endblock %}