{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block contentTitle %}
    <a href="{{ path('issue_article_list', { 'id':page.article.issue.id }) }}">{{ page.article.issue.title }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('article_edit', { 'id':page.article.id }) }}">{{ page.article.title|default('(文章' ~ page.article.id ~ ')') }}</a>
    <span style="color:#AAA"> / </span>
    热点编辑
{% endblock %}

{% form_theme form 'MagendHotBundle:Form:fields.html.twig' %}

{% block main %}
<div id="page_editor" rel="{{ page.id }}">
    <div style="width: 1024px;">
        <form style="display:inline;" class="form-horizontal" action="{{ path('page_edit', { 'id':app.request.get('id') }) }}" method="post" {{ form_enctype(form) }}>
            <div class="hide">{{ form_widget(form) }}</div>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
        {% if prev is not null %}<a href="{{ path('page_edit', { 'id':prev.id }) }}" class="btn btn-info">上一页</a>{% endif %}
        {% if next is not null %}<a href="{{ path('page_edit', { 'id':next.id }) }}" class="btn btn-info">下一页</a>{% endif %}
        <span style="margin-left:20px;">拖拽图片至图片区替换背景图片</span>
        <!--<button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>
        <button id="flushall" class="btn danger" style="float: right;">清空</button>-->
    </div>
    
    <ul id="hotlib">
    {% for hotdef in hotdefs %}
        <li rel="{{ hotdef.name }}" class="hot_add {% if hotdef.class is defined %}{{ hotdef.class }}{% endif %}" title="{{ hotdef.label }}"><span>{{ hotdef.span }}</span></li>
    {% endfor %}
    </ul>
    
    <div class="page_canvas_ruler">
        <div id="page_canvas_img" tabIndex="1">
            {% if page.landscapeImg %}
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" src-template="{{ asset('uploads/' ~ page.landscapeImg) }}"  />
            {% else %}
            <img src="http://placehold.it/1024x768" src-template="{{ asset('uploads/' ~ page.landscapeImg) }}" />
            {% endif %}
        </div>
        <ul id="page_canvas">
        </ul>
    </div>
</div> 
{% endblock %}