{% extends '::base.html.twig' %}

{% block title %}单页编辑{% endblock %}

{% block contentTitle %}
    <a href="{{ path('magzine_issues', { 'id':page.article.issue.magzine.id }) }}">{{ page.article.issue.magzine.name }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('issue_article_list', { 'id':page.article.issue.id }) }}">{{ page.article.issue.title }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('article_edit', { 'id':page.article.id }) }}">{{ page.article.title|default('(文章' ~ page.article.id ~ ')') }}</a>
    <span style="color:#AAA"> / </span>
    热点编辑
{% endblock %}

{% block main %}

<script type="text/javascript">
    var basePath = '{{ app.request.basePath }}';
    var initHots = [];
{% for hot in page.landscapeHots %}
    {% set hotsData = { 'attrs':hot.attrs|merge({ 'id':hot.id }) } %}
    {% if hot.extraAttrs %}
        {% set hotsData = hotsData|merge({ 'extras':hot.extraAttrs }) %}
    {% endif %}
    {% if hot.assets %}
        {% set hotsData = hotsData|merge({ 'assets':hot.assets }) %}
    {% endif %}
    
    initHots.push({{ hotsData|json_encode()|raw }});
{% endfor %}
</script>

<div id="page_editor">
    <!--<input type="checkbox" id="selenable" />
    <div id="info_panel"></div>-->
    <div style="width: 1024px;">
        <div id="pageid" style="display:none;">{{page.id}}</div>
        <button id="saveall" class="btn primary">保存</button>
        <!--<button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>-->
        <button id="flushall" class="btn danger" style="float: right;">清空</button>
    </div>
    <p/>
    
    <div id="hot_dialog" style="padding:10px;">
        <div id="hot_essential">
            <div>坐标: <input type="text" name="x" class="span1" />, <input type="text" name="y" class="span1" /></div>
            <br/>
            <div>长宽: <input type="text" name="w" class="span1" />, <input type="text" name="h" class="span1" /> <span style="color:#FC3F4D;">（不能小于40x40）</span></div>
        </div>
        <br/>
        
        <div id="hot_0_dialog" class="dlgcontent" style="display:none; min-width: 400px; min-height: 120px; overflow-x: auto;">
            <p style="position: absolute; left: 10px;">拖拽图片到这里</p>
            <div style="margin-top: 30px; width: 300px; background-color: red;">
                <ol id="hotimgs" style="min-width: 400px; height: 150px; background-color: #333;">
                    <li style="display:none" class="page"><a href="#" title=""><img src="http://placehold.it/128x96" /></a></li><!-- not empty to make sortable no wrong -->
                </ol>
            </div>
        </div>
        
        <div id="hot_1_dialog" class="dlgcontent" style="display:none; min-width: 300px; ">
            <div id="video-upload-area">
                拖拽视频到这里
            </div>
        </div>
        
        <div id="hot_2_dialog" class="dlgcontent" style="display:none;">
            <form action="#">
                <input id="internRadio" type="radio" name="type" value="0" /> 内部页面
                <input id="externRadio" type="radio" name="type" value="1" checked="checked" /> 外部链接
                <p/>
                <input id="linkInput" type="text" class="span6" name="link" value="" />
            </form>
        </div>
    </div><!-- end of dialog -->
    
    <div>
        <div id="page_canvas_img" tabIndex="1">
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" />
        </div>
    	<ul id="page_canvas">
    	</ul>
    </div>
    <ul id="hotlib">
        <li id="hot_0" class="hotobj hotimgs" title="图片">图片</li>
        <li id="hot_1" class="hotobj hotvideo" title="视频">视频</li>
        <li id="hot_2" class="hotobj hotlink" title="链接">链接</li>
    </ul>
</div>
{% endblock %}