{% extends app.request.isXmlHTTPRequest() ? '::ajaxBase.html.twig' : '::base.html.twig' %}

{% block contentTitle %}
    <a href="{{ path('magzine_issues', { 'id':page.article.issue.magzine.id }) }}">{{ page.article.issue.magzine.name }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('issue_article_list', { 'id':page.article.issue.id }) }}">{{ page.article.issue.title }}</a>
    <span style="color:#AAA"> / </span>
    <a href="{{ path('article_edit', { 'id':page.article.id }) }}">{{ page.article.title|default('(文章' ~ page.article.id ~ ')') }}</a>
    <span style="color:#AAA"> / </span>
    热点编辑
{% endblock %}

{% form_theme form 'MagendHotBundle:Form:fields.html.twig' %}

{% block main %}
<div id="page_editor">
    <div style="width: 1024px;">        
        <div id="pageid" style="display:none;">{{page.id}}</div>
        <button id="saveall" class="btn primary">保存</button>
        {% if prev is not null %}<a href="{{ path('page_edit', { 'id':prev }) }}" class="btn info">上一页</a>{% endif %}
        {% if next is not null %}<a href="{{ path('page_edit', { 'id':next }) }}" class="btn info">下一页</a>{% endif %}
        <span style="margin-left:20px;">拖拽图片至图片区替换背景图片</span>
        <!--<button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>
        <button id="flushall" class="btn danger" style="float: right;">清空</button>-->
    </div>
    
    <ul id="hotlib">
        <li rel="furnitureDetailHots" class="hot_add" title="单品家具展示热区"><span>单品家具</span></li>
        <li rel="slideLayerHots" class="hot_add" title="滑动图层热区"><span>滑动图层</span></li>
        <li rel="furnitureSkinnableHots" class="hot_add" title="家具换肤热区"><span>家具换肤</span></li>
    </ul>
    
    <div class="page_canvas_ruler">
        <div id="page_canvas_img" tabIndex="1">
            {% if page.landscapeImg %}
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" src-template="{{ asset('uploads/' ~ page.landscapeImg) }}"  />
            {% else %}
            <img src="http://placehold.it/1024x768" src-template="{{ asset('uploads/' ~ page.landscapeImg) }}" />
            {% endif %}
        </div>
        <ul id="page_canvas">
        </ul>
    </div>
    
    <form style="width:680px; margin-top:10px;" action="{{ path('page_test', { 'id':app.request.get('id') }) }}" method="post" {{ form_enctype(form) }}>
        <div class="hide">{{ form_widget(form) }}</div>
        
        <div class="actions"><button class="btn primary" type="submit">提交</button></div>
    </form>
</div> 
{% endblock %}