{% extends '::base.html.twig' %}

{% block contentTitle %}杂志分类{% endblock %}

{% block main %}
    <ul class="shortcut-buttons-set">
        <li><a target="_blank" class="shortcut-button" href="{{ path('output_magazines', { '_format':'xml' }) }}" title="移动客户端使用"><span>杂志列表XML</span></a></li>
    </ul>
    <div class="clear"></div>
    
    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">
            <h3>分类列表</h3>
            <div style="padding-top: 6px">
                {% if is_granted('ROLE_CORP') %}<a rel="dialog" class="btn btn-info" href="{{ path('magazine_new') }}">添加杂志</a>{% endif %}
            </div>
            <div class="clear"></div>
        </div> <!-- End .content-box-header -->
                
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
            <table>
                <thead><tr>
                    <th><input class="check-all" type="checkbox" /></th>
                    <th>分类名称</th>
                    <th>横版缩略图</th>
                    <th>竖版缩略图</th>
                    <th>期刊数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr></thead>
             
                <tfoot><tr>
                    <td colspan="6">
                        <!--<div class="bulk-actions align-left">
                            <select name="dropdown" class="small">
                                <option value="option1">选择...</option>
                                <option value="option3">删除</option>
                            </select>
                            <a class="button" href="#">执行</a>
                        </div>-->
                        
                        {% if pager.haveToPaginate() %}{{ pagerfanta(pager, 'magend') }}{% endif %}
                        <div class="clear"></div>
                    </td>
                </tr></tfoot>
             
                <tbody>
                    {% for magazine in magazines %}
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td><a href="{{ path('magazine_issues', { 'id':magazine.id }) }}" title="查看所属期刊">{{ magazine.name }}</a></td>
                        <td>{% if magazine.landscapeCover is not null %}<a href="#" title="放大"><img width="128" height="96" src="{{ asset('uploads/' ~ magazine.landscapeCover) }}" /></a>{% endif %}</td>
                        <td>{% if magazine.portraitCover is not null %}<a href="#" title="放大"><img width="96" height="128" src="{{ asset('uploads/' ~ magazine.portraitCover) }}" /></a>{% endif %}</td>
                        <td>{{ magazine.issues|length }}</td>
                        <td>{{ magazine.createdAt|date('Y-m-d H:i') }}</td>
                        <td style="width:100px;">
                            <a title="选择版权页" rel="dialog" href="{{ path('magazine_copyright', { 'id':magazine.id }) }}" class="copyright {% if magazine.copyrightArticle is null %}copyright_off{% else %}copyright_on{% endif %}">©</a>
                            {% if is_granted('ROLE_CORP') %}
                            <a rel="dialog" href="{{ path('magazine_edit', { 'id':magazine.id }) }}" title="Edit"><img src="{{ asset('images/simpla/icons/pencil.png') }}" alt="编辑" /></a>
                            <a rel="confirm" href="{{ path('magazine_del', { 'id':magazine.id }) }}" title="Delete"><img src="{{ asset('images/simpla/icons/cross.png') }}" alt="删除" /></a>
                            {% endif %}
                            <a target="_blank" href="{{ path('output_magazine', { 'id':magazine.id }) }}" title="杂志内容XML">XML</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
                    
{% endblock %}